{% extends "base.html" %}

{% block title %}Admin Panel | {{ app_name }}{% endblock %}

{% block head %}
<link href='/static/css/profile.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div id='wrapper'>
	<div id='left-div'>
		<ul>
			<li><a href='/admin/add/'>Add Admins</a></li>
			<li><a href='/admin/deact_users/'>Deactivated Users</a></li>
		</ul>
	</div>
	<div id='right-div'>
		<h1>{% block heading %}{% endblock %}</h1>
		<div id='content'>
			{% block main_content %}{% endblock %}
		</div>
	</div>
	<div style="clear: both;"></div>
</div>
{% endblock %}