{% extends "panel_base.html" %}

{% block title %}{{ title }} | {{ app_name }}{% endblock %}

{% block head %}
<link href='/static/css/buy.css' rel='stylesheet' type='text/css'>
<link href='/static/css/profile.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block heading %}
My Items
{% endblock %}

{% block profile_content %}
<center>
<nav class='page_nav'>
	<a href='/my_items/'>&lt;&lt;</a> 
	{% if pre_page > 0 %}
	<a href='/my_items/?page_no={{ pre_page }}'>{{ pre_page }}</a> 
	{% endif %}
	<a>{{ page_no }}</a>
	{% if nxt_page <= pages %}
	<a href='/my_items/?page_no={{ nxt_page }}'>{{ nxt_page }}</a> 
	{% endif %}
	<a href='/my_items/?page_no={{ pages }}'>&gt;&gt;</a> 
</nav>
</center>
<center>
<table id='item_table'>
	<tr class='blank'>
		<td colspan=2></td>
	</tr>
	{% for item in items %}
	<tr class='first'>
		<td>
			<a href='{{ item.get_url }}'>{{ item.title }}</a>
			{% if item.time_create.date < expiry %}
			<font style='color: red;'> <i>(Expired)</i> </font>
			{% endif %}
		</td>
		<td><i>by <a href='{{ item.user.get_url }}'>{{ item.user.nick }}</a></i></td>
	</tr>
	<tr class='second'>
		<td>{{ item.descrip }}</td>
		<td><b>Price</b>: {{ item.price }}</td>
	</tr>
	<tr class='blank'>
		<td colspan=2></td>
	</tr>
	{% endfor %}
</table>
</center>
<center>
<nav class='page_nav'>
	<a href='/my_items/'>&lt;&lt;</a> 
	{% if pre_page > 0 %}
	<a href='/my_items/?page_no={{ pre_page }}'>{{ pre_page }}</a> 
	{% endif %}
	<a>{{ page_no }}</a>
	{% if nxt_page <= pages %}
	<a href='/my_items/?page_no={{ nxt_page }}'>{{ nxt_page }}</a> 
	{% endif %}
	<a href='/my_items/?page_no={{ pages }}'>&gt;&gt;</a> 
</nav>
</center>
{% endblock %}



