{% extends "base.html" %}

{% block title %}Confirm Deletion | {{ app_name }}{% endblock %}

{% block head %}
<link href='/static/css/edit_profile.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<h1>{{ item.title }}</h1>
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}
<form action="" method="post">
    <table>
        {{ form.as_table }}
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
</form>
{% endblock %}